.enter-form {
  display: flex;
  justify-content: center;
}

.answer-container {
  display: flex;
  flex: 1;
}

.answer-text {
  flex: 1;
}

.answer-checkbox {
  align-items: center;
  display: flex;
}