html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

#main-container {
  height: 100%;
}

.web-page {
  height: 100%;
}

.enter-form {
  display: flex;
  justify-content: center;
}

.answer-container {
  display: flex;
  flex: 1;
}

.answer-text {
  flex: 1;
}

.answer-checkbox {
  align-items: center;
  display: flex;
}

.admin-navbar {
  background-color: #c2c4c7;
}

.admin-panel {
  height: 100%;
  background-color: #f8f9fa;
}

.web-panel {
  height: 100%;
  background-color: #f8f9fa;
}

.web-navbar {
  background-color: #e3e4e6;
}